:root {
  --color1: #9e0570;
  --color2: #f79ad3;
  --color3: #84c6bf;
  --color4: #747778;
  --font-family: 'Roboto', Libre Baskerville;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #333;
}

header{
  margin: 1rem auto;
  width: 840px;
  padding: 1rem;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
  color: var(--color1);
  text-align: center;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: var(--color1);
	padding: 50px;
  font-size: 1.2rem;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--color3);
	font-weight: 700;
	text-decoration: underline;
}

nav a {
    color: var(--color3);
    display: inline;
    padding: 20px;
}


.hero {
  position: relative;
  width: 100%;
  max-width: 800px; 
  margin: auto;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  
  right: 5%;
  left: 5%;
  color: var(--color1);
  font-size: 36px; 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.hero article {
  position: absolute;
  bottom: 20px;
  right: 5%;
  left: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  max-width: 400%; 
}

.hero article img {
  float: right;
  width: 20%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.hero article p {
  margin: 0;
  font-size: 20px; /* Adjust as needed */
  color: var(--color2);
}

h2 {
  font-size: 30px;
  text-align: center;
  color: var(--color1);
}

.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.history-item {
	background-color: var(--color3);
	height: 100%;
}

.history-image {
  padding: 10px;
}


figure {
border: thin #c0c0c0 solid;
display: flex;
align-items: center;
width: 18%;
margin: 10px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
position: relative;  
  
}


figcaption {
background-color: #222;
color: #fff;
font: italic smaller sans-serif;
padding: 10px;
width: 100%;
bottom: 0;
left: 0;
text-align: center;
border-radius: 0 0 10px 10px;
position: absolute;
}

.river {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}

.river img {
width: 100%;
height: 150px;
border-radius: 10px 10px 0 0;

}


main {
max-width: 800px;
padding: 1rem;
margin: 2rem auto;
font-family: 'Roboto', libre baskerville;
}

/* Contact Page */
#contact {
  padding: 2em;
}



form {
  width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}

.contact-us {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.form-group {
  
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: block;
}



.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.5rem;
  font-size: 1.1rem;
  display: inline-block;
}

textarea {
  width: 100%;
  padding: 10px;
 
  border: none;
  border-radius: 5px;
}

.form-group2 {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
 
}

fieldset {
  display: grid;
  grid-gap: 0.5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3rem;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
}

input[type="radio"] {
  margin: 0.4rem;
  align-items: center;
  display: inline-block;
  width: 20px;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: var(--color1);
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

button[type="submit"] {
  width: 150px; /* Adjust to your desired size */
  margin: 20px auto;
}

button:hover {
  background-color: var(--color4);
}

.contact-info {
  margin-top: 20px;
}

.contact-info h2 {
  font-family: 'Libre Baskerville', serif;
}

.map-address {
  margin-top: 20px;
          
}

/* Employee Profiles */
.employee-profiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.employee-profiles figure {
  text-align: center;
  margin: 10px;
}

.employee-profiles img {
  width: 200px;
  height: auto;
  border-radius: 10%;
}

.employee-profiles figcaption {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}



/* Footer */
footer {
display: flex;
height: 10px;
width: 840px;
margin: 0 auto;
text-align: center;
padding: 20px;
background-color: #333;
justify-content: space-between;
color: #fff;
font-family: 'Roboto', libre baskerville;
font-weight: 400;
font-size: 1.2rem;
align-items: center;
}

.sociallinks {
display: inline-flex;
display: flex;
justify-content:center;
margin-left: 10px;
}


.sociallinks img {
width: 24px;
height: 24px;
margin-left: 1px;
}
