:root {
    --color1: #e965c1;
    --color2: #f79ad3;
    --color3: #84c6bf;
    --color4: #747778;
    --font-family: 'Roboto', Libre Baskerville;
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    color: var(--color4);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    padding: 1rem;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
  padding: 0.5rem;
	width: 40px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: var(--font-family);
}


.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--color1);
  font-size: 1.2rem;
	padding: 50px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--color3);
	font-weight: 700;
	text-decoration: underline;
}

nav a {
    color: var(--color3);
    display: inline;
    padding: 10px;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: auto;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero h1 {
    position: absolute;
    top: 1px;
    
    right: 5%;
    left: 5%;
    color: var(--color1);
    font-size: 36px; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  
  .hero article {
    position: absolute;
    bottom: 10px;
    right: 5%;
    left: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    max-width: 400%; 
  }
  
  .hero article img {
    float: right;
    width: 20%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .hero article p {
    margin: 0;
    font-size: 20px; /* Adjust as needed */
    color: var(--color2);
  }

  

h2 {
    font-size: 30px;
    text-align: center;
    color: var(--color1);
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  align-items: center;
  width: 18%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;  
    
}


figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  border-radius: 0 0 10px 10px;
  position: absolute;
}

.river {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}

.river img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
 
}


main {
  max-width: 800px;
	margin: 2rem auto;
	font-family: 'Roboto', libre baskerville;
}




main h1 {
  margin: 0 auto;
  width: 650px;
  margin: 1rem;
  font-size: 1.5em;
  color: var(--color1);
  text-align: center;
}

#about {
  padding: 2em;
}




/* Footer */
footer {
  display: flex;
  width: 50%;
  height: 7px;
  text-align: center;
  padding: 20px;
  background-color: #333;
  justify-content: space-between;
  color: #fff;
  display: flex;
  align-items: center;

  }

.sociallinks {
  display: inline-flex;
  display: flex;
  justify-content:center;
  margin-left: 10px;
}


.sociallinks img {
  width: 24px;
  height: 24px;
  margin-left: 1px;
}

.trip-image {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

